* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c2e2ed;
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  width: calc(100vw - 10px);
  margin: 0 auto;
  background-color: antiquewhite;
  position: relative;

}

.wrapper-scroll {
  height: 700px;
}

.box-category {
  overflow-y: auto;
  max-height: 95%;
}

h1 {
  text-align: center;
  padding: 20px;
}

/* From Uiverse.io by eslam-hany */
/* From Uiverse.io by aadium */
.card {
  background-color: #1e2127;
  border: 3px solid #61dafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px 20px;
  /* color: #61dafb; */
  border-radius: 45px;
  margin-bottom: 10px;
}

.header {
  text-align: center;
  margin: 7px;
  color: #61dafb;
}

.header-bottom {
  color: red;
  font-size: 44px;
}

.App-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #61dafb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  border: 3px solid #61dafb;
  border-radius: 5em;
  margin-top: 20px;
  transition: 0.2s;
}

.App-button:hover {
  color: #1e2127;
  background-color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dialog {
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.dialog-box {
  width: 90%;
  margin: 0 auto;
}

form h2 {
  font-size: 32px;
  padding-top: 30px;
  margin-bottom: 20px;
}

#input1 {
  height: 60px;
  outline: none;
  border: 3px #61dafb solid;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
  width: 100%;
  box-shadow: 5px 5px 10px #719ECE;
  font-family: "Poppins", sans-serif;
}

#input1:focus {
  border: 3px red solid;
}

textarea {
  display: block;
  width: 100%;
  height: 250px;
  overflow-y: auto;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  padding: 6px;
  border: 3px #61dafb solid;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  box-shadow: 5px 5px 10px #719ECE;
}

textarea:focus {
  border: 0;
  border: 3px red solid;
}

input[type='submit'] {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 22px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  width: 100%;
  margin-top: 30px;
}
input[type='submit']:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

input[type='submit']:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}