:root {
    --main-color: #5c67f2;
    --text-color: #333;
    --background-color: #dcdcf5;
    --card-bg: #fff;
    --shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    margin: 0;
}

.wrapper {
    /* max-width: 580px; */
    margin: 0 auto;
    display: flex;             /* Активируем Flexbox */
    flex-direction: column;    /* Располагаем элементы вертикально */
    
    height: 100vh;                     Занимаем всю высоту 
}
/* 1 block */
.top-content{
    background-color: var(--background-color);
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: relative;
    background-color: rgb(112, 243, 79); 
    
}

#dot-vertical{
    width: 30px;
    height: 30px;
}
.user{
    display: flex;
    gap: 10px;
    font-size: 14px;
    justify-content: right;
    padding-right: 20px;
    height: 30px;
    align-items: center;
    
}
h3{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 28px;
}
.categores {
    padding: 7px;
}
select {
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 12px;
    border: 2px solid #555;
    background-color: #f0f0f0;
    box-shadow: 3px 8px 3px rgba(37, 118, 210, 0.3);
    width: 100%;
    appearance: none;
}
/* block 2 middle scroll */
.middle-content{
    flex-grow: 1;
    scroll-behavior: smooth; 
    overflow-y: auto; 

}
.list-recipe{
    flex-grow: 1;              /* САМОЕ ВАЖНОЕ СВОЙСТВО: заставляет блок растянуться и занять все оставшееся доступное пространство */
    background-color: lightyellow;
    
}


.middle-content::-webkit-scrollbar {
    display: none;
    /* Скрывает сам элемент скроллбара */
}
#info{
    display: none;
    text-align: center;
    color: red;
    font-size: 22px;
    padding: 10px;
    background-color: #111;
}

.name-recipe {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.support-recipe {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    padding: 0;
    
}
.box-right{
    display: flex;
}

.list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #a1d2ec;
    padding: 10px;
    border:3px rgb(78, 48, 227) solid;
    border-radius: 15px;
    
}

.list_item:hover {
    background-color: #999494;
    color: white;
}


.img_delete {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    
}
.img_edit{
    width: 30px;
    height: 30px;
}

/* 3 block bottom */
.bottom-content{
    height: 80px;             
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items:start;
    
}
.bottom-content h3{
    font-size: 22px;
    
}
/* CSS */
.button-85 {
  padding: 0.4em 1.5em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 18px;
}

.button-85:before, .button-86:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 500%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 6px);
  height: calc(100% + 5px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after, .button-86:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #706d6d;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.button-85:active{
    font-size:16px ;
}

/* style dialogs windows */
        /* 1 dialog delete */
/* dialog delete start */

/* Стилизация тега <dialog> */
dialog {
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    max-width: 95%;
    background-color: #b5b9f0;
}
dialog::-webkit-scrollbar{
    display: none;
}

/* Затемненный фон, который появляется, когда окно открыто */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.dialog-actions {
    margin-top: 20px;
    text-align: right;
}

.content-dialog{
    width: 100vw;
    height: 90vh;
    display: flex;
    

}
.title-dialog-delete{
    font-size: 24px;
    color: #111;
    font-weight: bold;
    margin-bottom: 10px;
    
} 
.recipe_name{
    background-color: rgba(11, 11, 11, 0.49);
    padding: 10px;
    color:white;
}
.dialog-actions{
    margin-top: 40px;
    display: flex;
    justify-content: right;
    gap: 25px;
} 
/*     dialog edit support */

input{
    font-size: 24px;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px ;
} 
/* dialog get update text recipe */
.dialog-text-recipe{
    background-color: #00ffd5;
    width: 90%;
    height: 90%;  
}
.box-recipe-text{
    width: 80vw;
    height: 50vh;
    border: 3px black solid;
    padding: 10px;
    overflow-y: auto;
}
textarea{
    display: none;
    width: 80vw;
    height: 50vh;
    font-size: 22px;
    padding: 10px;
    font-family: Arial, sans-serif;
}
.box-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#text-messenger{
    text-align: center;
    background-color: #8d898995;
    color: black;
    font-size: 18px;
    padding: 10px;
}



