* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",
        sans-serif;
    
}
.wrapper{
    max-width: 380px;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin: 30px;
}
.box-elements{
    border: 3px gray solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 30px;
}
img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.my-account{
    background-color: beige;
    width: 350px;
}
.sig{
    font-size: 28px;
}
button{
    width: 100%;
    font-size: 30px;
    padding: 8px;
}
