@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",
        sans-serif;
    
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #74d4f4;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    position: relative;
    border-radius: 12px;
    padding: 20px 30px 120px;
    background: #4070f4;
    box-shadow: 0 8px 10px rgba(0,0,0,0.8);
    overflow: hidden;
}


.form.login {
    position: absolute;
    left: 50%;
    bottom: -86%;
    transform: translateX(-50%);
    width: calc(100% + 220px);
    padding: 20px 140px;
    border-radius: 50%;
    height: 100%;
    background: #fff;
    transition: all 0.6s ease;
    
}

.wrapper.active .form.login {
    bottom: -15%;
    border-radius: 35%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    
}

.form header {
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-family: "MedievalSharp", cursive;
    font-weight: 900;
    font-style: normal;
}

.form.login header {
    color: #333;
    opacity: 0.6;
}

.wrapper.active .form.login header {
    opacity: 1;

}

.wrapper.active .signup header {
    opacity: 0.6;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

form input {
    height: 60px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #fff;
}

.form.login input {
    border: 1px solid #aaa;
}

.form.login input:focus {
    box-shadow: 0 1px 0 #ddd;
}


form a {
    color: #333;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

form input[type="submit"] {
    margin-top: 15px;
    padding: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.form.login input[type="submit"] {
    background: #4070f4;
    color: #fff;
    border: none;
}
.checkbox{
    display: flex;
    height: 20px;
    
}
#check{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#check1{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#a{
    font-size: 22px;
    display: block;
    margin-top: 20px;
    text-align: right;
    text-decoration: underline;
    color: blue;
}

/* dialog window */
dialog {
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    width: 380px;
    background-color: #ebecf7;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.9);
}
#info-pl{
    color: red;
    font-weight: bold;
}







